*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555;
  padding: 3rem; }

.btn:link, .btn:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 7rem;
  border-radius: 1rem;
  font-size: 1.35rem;
  margin-bottom: 1.35rem; }

.btn-gradient {
  background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
  color: white;
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15); }
  .btn-gradient:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-shadow {
  color: #555;
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15); }
  .btn-shadow:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.home__text-box {
  left: 50%;
  margin: 2rem 0rem 5rem 0rem;
  text-align: center; }

.home-headline {
  font-size: 2.5rem; }
  .home-headline--gradient {
    background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.home-subheadline {
  font-size: 1.5rem;
  font-weight: 300;
  color: #c2cad4; }

.home__image-box {
  text-align: center;
  margin: 5rem auto; }

.home .image-main {
  width: 70%; }
