@mixin button-press {
    transform: translateY(-.3rem);
    box-shadow: $black-shadow-diffused;

    &:active {
        transform: translateY(-.1rem);
        box-shadow: $black-shadow-darker; 
    }   
}

@mixin option-default {
    text-decoration: none;
    color: $color-gray-light;
    border: 0.5px solid $color-gray-light;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($color-black, 0.1);
}

@mixin option-selected {
    &--selected {
        color: $color-white;
        background-image: $gradient-violet-blue;
        box-shadow: $black-shadow-diffused
    }
}