@mixin button-press {
    transform: translateY(-.3rem);
    box-shadow: $black-shadow-diffused;

    &:active {
        transform: translateY(-.1rem);
        box-shadow: $black-shadow-darker; 
    }   
}

@mixin option-default {
    text-decoration: none;
    color: $color-gray-light;
    border: 0.5px solid $color-gray-light;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($color-black, 0.1);
}

@mixin option-selected {
    &--selected {
        color: $color-white;
        background-image: $gradient-violet-blue;
        box-shadow: $black-shadow-diffused
    }
}

@mixin thought-button {
    width: 5rem;
    height: 3rem;
    text-align: center;
    border-radius: .5rem;
}

@mixin gradient-text {
    background: -webkit-linear-gradient($color-violet-dark 0%, $color-blue-dark 100%);
    //background: linear-gradient(to right, $color-violet-dark 0%, $color-blue-dark 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

@mixin back-button {
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-gray-medium;
        border: 0.5px solid $color-gray-medium;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba($color-black, 0.1);
        padding: .75rem;
        border-radius: 1.5rem;
    }
    
    &:active,
    &:focus {
        background-image: $gradient-violet-blue;
        color: white;
    }
}

//////////////////////////////////
// MEDIA QUERIES
//////////////////////////////////

// 320px wide and smaller
@mixin for-phones-small-only {
    @media (max-width: 20em) { @content; }
}

// 420px wide and smaller
@mixin for-phones-medium-down {
    @media (max-width: 26.25em) { @content; }
}


// 900px wide and bigger
@mixin for-tablet-landscape-up {
    @media (min-width: 56.25em) { @content; }
}


