// Home screen header
.home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    // TESTING
    /*display: flex;
    flex-direction: column;
    align-items: stretch;*/
    
    @include for-tablet-landscape-up {
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    @include for-phones-small-only {
        padding-top: 6rem;
    }
    
    // Text on home screen
    &__text-box {
        margin: 3rem 0rem 3rem 0rem;
        text-align: center;
        
        @include for-tablet-landscape-up {
            margin: 2rem auto;
        }
        
        
    }
    
    &-headline {
        font-size: 2.5rem;
        //color: orangered;
        
        // TESTING
        min-height: 102%;
        
        &--gradient {
            @include gradient-text;
            
            // TESTING
            //outline: 3px solid orangered;
            //overflow-y: hidden;
            //box-shadow: 0 -1px 0 orangered;
            //box-shadow: 0 -.8px 0 $color-white;
        }
        
        @include for-tablet-landscape-up {
            font-size: 3.6rem;
            font-weight: 400;
        }
    }
    
    &-subheadline {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-gray-blue;
        display: none;
        
        @include for-tablet-landscape-up {
            font-size: 2rem;
            font-weight: 300;
        }
        
    }
    
    // Image on home screen
    &__image-box {
        text-align: center;
        margin: 5rem auto;
        
        @include for-phones-medium-down {
            margin: 3.5rem auto;
            width: 70%;
            //width: 0%;
        }
        
        @include for-tablet-landscape-up {
            width: 60%;
        }
    }
    
    .image-main {
        width: 70%;        
    }
    
    &__button-box {
        text-align: center;
        margin-bottom: -12rem;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
    
        
    }
    
}
