// Home screen header
.home {
    //height: 100vh;
    
    // Text on home screen
    &__text-box {
        left: 50%;
        margin: 2rem 0rem 5rem 0rem;
        text-align: center;
        
    }
    
    &-headline {
        font-size: 2.5rem;
        &--gradient {
            @include gradient-text;
        }
    }
    
    &-subheadline {
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-gray-blue;
        display: none;
    }
    
    // Image on home screen
    &__image-box {

        text-align: center;
        margin: 5rem auto;
    }
    
    .image-main {
        width: 70%;        
    }
    
    &__button-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media only screen and (min-width: 600px) {    
    .home__image-box {
        width: 50%
    }  

}