.snoozed {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
    position: relative;
    
    // MOON ANIMATION
    &__image-box {
        animation-name: moveInUp;
        animation-duration: .75s;
        animation-timing-function: ease-out;  
        margin-bottom: 2.5rem;
        border-bottom: 1px solid transparent;
    }
    
    // TEXT AND BUTTON
    &__text {
        text-align: center;
        width: 50%;
        margin-bottom: 2rem;
        
        animation-name: fadeIn;
        animation-duration: .5s;
        animation-timing-function: ease-out;  
        
        &--paragraph {
            font-size: 1.5rem;
            letter-spacing: .03rem;
        }
        
    }
    
    &__option--back {
        @include back-button;
        display: block;
    }
}

