*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555; }

.btn:link, .btn:visited {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 7rem;
  border-radius: 1rem;
  font-size: 1.35rem;
  margin-bottom: 1.35rem;
  /*@include for-tablet-portrait {
            padding: 2.5rem 8.5rem;
            font-size: 2.2rem;
            margin-bottom: 2.2rem;
        }*/ }

.btn--gradient {
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
  color: #fff; }
  .btn--gradient:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--gradient-register {
  background-image: linear-gradient(to left, #441d8c 0%, #7934fa 100%);
  color: #fff;
  transform: translateY(-0.3rem);
  box-shadow: 0 0 3rem rgba(121, 52, 250, 0.25); }
  .btn--gradient-register:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0 0.75rem rgba(121, 52, 250, 0.35); }

.btn--shadow {
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15);
  color: #555; }
  .btn--shadow:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-submit-topic {
  margin: 2rem 0rem 6rem 0rem; }
  .btn-submit-topic:link, .btn-submit-topic:visited {
    color: #7934fa; }
  .btn-submit-topic .btn__down-arrow {
    margin-left: .5rem; }

.btn--snooze {
  transform: translateY(-0.3rem);
  box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15);
  display: block;
  padding: 2rem 14rem;
  border-radius: 10rem;
  background-image: linear-gradient(to left, #441d8c 0%, #7934fa 100%);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.35rem;
  margin-top: 5rem;
  box-shadow: 0 0 3rem rgba(121, 52, 250, 0.25); }
  .btn--snooze:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 20em) {
    .btn--snooze {
      padding: 2rem 12rem; } }

.btn--signout:link, .btn--signout:visited {
  display: inline-block;
  color: #757575;
  font-size: 1.15rem;
  margin-top: -1.2rem; }

.form__container {
  position: relative;
  margin-top: calc(20vh + 8rem); }

.form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem; }
  .form__group {
    display: block; }
    .form__group:not(:last-child) {
      margin-bottom: 2rem; }
  .form__input {
    font-family: inherit;
    font-size: 1.5rem;
    display: block;
    padding: 1.5rem 3rem;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    transition: border-bottom .3s; }
    .form__input:focus {
      outline: none;
      border-bottom: 2px solid #7934fa; }
    .form__input::-webkit-input-placeholder {
      color: #c7c7c7; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    padding-left: 3rem;
    transition: all .2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3rem);
    font-weight: 100; }
  .form__confirmation {
    font-size: 1.4rem;
    text-align: center;
    color: #7934fa; }

.btn--form {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 7rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.35rem; }
  .btn--form:focus, .btn--form:hover {
    cursor: pointer; }
  .btn--form:focus {
    outline: none; }

.header {
  height: 20vh;
  position: relative; }
  .header--add {
    background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%); }
  .header--archive {
    background-image: linear-gradient(106.4deg, #ff68c0 11.1%, #6854f9 81.3%); }
  .header--register {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #a426c7 0.1%, #41dcff 90.1%); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex; }
  .header .page-title {
    font-weight: 300; }

.home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  @media (min-width: 56.25em) {
    .home {
      left: 50%;
      transform: translate(-50%, -50%); } }
  @media (max-width: 20em) {
    .home {
      padding-top: 6rem; } }
  .home__text-box {
    margin: 3rem 0rem 5rem 0rem;
    text-align: center;
    /*@include for-tablet-portrait {
            margin: 8rem 0rem;
        }*/ }
    @media (min-width: 56.25em) {
      .home__text-box {
        margin: 2rem auto; } }
  .home-headline {
    font-size: 2.5rem; }
    .home-headline--gradient {
      background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    @media (min-width: 56.25em) {
      .home-headline {
        font-size: 3.6rem;
        font-weight: 400; } }
  .home-subheadline {
    font-size: 1.6rem;
    font-weight: 400;
    color: #c2cad4;
    display: none; }
    @media (min-width: 56.25em) {
      .home-subheadline {
        font-size: 2rem;
        font-weight: 300; } }
  .home__image-box {
    text-align: center;
    margin: 5rem auto;
    /*@include for-tablet-portrait {
            width: 60%;
            margin: 0rem auto 8.5rem auto;
        }*/ }
    @media (min-width: 37.5em) {
      .home__image-box {
        width: 50%; } }
    @media (min-width: 56.25em) {
      .home__image-box {
        width: 60%; } }
  .home .image-main {
    width: 70%; }
  .home__button-box {
    display: flex;
    flex-direction: column;
    align-items: center; }

.question {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*@include for-tablet-portrait {
        transform: translateY(15%);
    }*/ }
  .question__text-box {
    width: 60%;
    text-align: center;
    margin: 3rem auto; }
  .question-title {
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 1.3; }

.question__options-box {
  display: flex;
  flex-direction: column;
  align-items: center; }

.question__options-row {
  display: flex;
  justify-content: space-around; }

.question--topic {
  margin-top: 6rem; }

.emotion {
  text-decoration: none;
  color: #c7c7c7;
  border: 0.5px solid #c7c7c7;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 11rem;
  margin: 2rem;
  border-radius: 1rem; }
  .emotion--selected {
    color: #fff;
    background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 20em) {
    .emotion {
      margin: 1.5rem; } }
  .emotion__icon {
    font-size: 4.5rem; }
  .emotion__description {
    font-size: 1.5rem;
    font-weight: 300; }

.topic {
  text-decoration: none;
  color: #c7c7c7;
  border: 0.5px solid #c7c7c7;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: .25rem 2rem;
  border-radius: 10rem;
  margin: 1.35rem;
  font-size: 1.5rem; }
  .topic--selected {
    color: #fff;
    background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    box-shadow: 0.5rem 1rem 2.25rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 20em) {
    .topic {
      padding: .15rem 1.5rem;
      margin: 1rem; } }

.input__prompt {
  color: #c7c7c7;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .15rem;
  margin-bottom: 1rem; }

.input__submit {
  text-align: center; }

.add-description {
  border: 1px solid #c2cad4;
  border-radius: 3px;
  width: 30rem;
  padding: 1.5rem 0rem 1.5rem 1.25rem; }
  .add-description:focus {
    outline: none;
    border: 1px solid #7934fa; }

.thoughts__list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.thought {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: .75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  width: 30rem;
  height: auto; }
  @media (max-width: 20em) {
    .thought {
      width: 28rem; } }
  .thought__content {
    display: flex;
    align-items: center;
    padding: 1rem 3rem; }
  .thought__icon {
    border: 0.2rem solid #757575;
    border-radius: 50%;
    padding: .01rem .7rem;
    color: #757575;
    font-size: 2rem;
    margin-right: 2rem; }
  .thought__text--tags {
    color: #7934fa;
    text-transform: uppercase;
    font-size: .5rem; }
  .thought__text--description {
    font-size: 1.5rem;
    color: #757575;
    letter-spacing: .01em; }
  .thought__text--emotion {
    font-size: 1.1rem;
    color: #c7c7c7; }
  .thought__button-text {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, 30%); }
  .thought__buttons {
    padding: 1.5rem 3rem 2rem 5.8rem;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    border-radius: .5rem;
    position: relative; }
    .thought__buttons--delete {
      width: 5rem;
      height: 3rem;
      text-align: center;
      border-radius: .5rem;
      color: #757575;
      border: 0.15rem solid #757575;
      cursor: pointer; }
    .thought__buttons--share {
      width: 5rem;
      height: 3rem;
      text-align: center;
      border-radius: .5rem;
      background-image: linear-gradient(to top right, #7934fa 50%, #459bdb 100%);
      color: white; }
  .thought__button-text:link, .thought__buton-text:visited {
    color: white;
    text-decoration: none; }

.empty-box {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  display: none;
  animation-name: moveInUp;
  animation-duration: .75s;
  animation-timing-function: ease-out; }
  .empty-box__text {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem; }
  .empty-box__text--gradient {
    background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .empty-box__button {
    margin-top: 1.5rem; }
    .empty-box__button--back:link, .empty-box__button--back:visited {
      text-decoration: none;
      color: #757575;
      border: 0.5px solid #757575;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      padding: .75rem;
      border-radius: 1.5rem; }
    .empty-box__button--back:active, .empty-box__button--back:focus {
      background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
      color: white; }

.empty-image {
  width: 50%; }

.thoughts__list:empty {
  background: red; }

.snoozed {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(25%);
  position: relative; }
  .snoozed__image-box {
    animation-name: moveInUp;
    animation-duration: .75s;
    animation-timing-function: ease-out;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid transparent; }
  .snoozed__text {
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-out; }
    .snoozed__text--heading {
      background: linear-gradient(to right, #441d8c 0%, #546ead 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.5rem;
      margin-bottom: .5rem; }
    .snoozed__text--paragraph {
      font-size: 1.5rem;
      letter-spacing: .03rem; }
  .snoozed__option--back {
    display: block; }
    .snoozed__option--back:link, .snoozed__option--back:visited {
      text-decoration: none;
      color: #757575;
      border: 0.5px solid #757575;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      padding: .75rem;
      border-radius: 1.5rem; }
    .snoozed__option--back:active, .snoozed__option--back:focus {
      background-image: linear-gradient(to right, #441d8c 0%, #546ead 100%);
      color: white; }
