.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 1.5rem 7rem;
        border-radius: 1rem;
        font-size: 1.35rem;
        margin-bottom: 1.35rem;
        
        /*@include for-tablet-portrait {
            padding: 2.5rem 8.5rem;
            font-size: 2.2rem;
            margin-bottom: 2.2rem;
        }*/
    }
    
    &--gradient {
        @include button-press;
        
        background-image: $gradient-violet-blue;
        color: $color-white;
    }
    
    &--gradient-register {
        background-image: $gradient-violet;
        color: $color-white;
        transform: translateY(-.3rem);
        box-shadow: $violet-shadow-diffused;

        &:active {
            transform: translateY(-.1rem);
            box-shadow: $violet-shadow-darker; 
        } 
    }
    
    &--shadow {
        @include button-press;
        
        color: $color-gray-dark;
    }
    
    &-submit-topic {
        margin: 2rem 0rem 6rem 0rem;
        
        &:link,
        &:visited {
            color: $color-violet-bright;
        }
        
        .btn__down-arrow { margin-left: .5rem; }
    }
    
    &--snooze {
        @include button-press;
        
        display: block;
        padding: 2rem 14rem;
        border-radius: 10rem;
        background-image: $gradient-violet;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.35rem;
        margin-top: 5rem;
        box-shadow: $violet-shadow-diffused;
        
        @include for-phones-small-only {
            padding: 2rem 12rem;
        }
    }
    
    &--signout {
        &:link,
        &:visited {
            display: block;
            color: $color-gray-medium;
            font-size: 1.15rem;
            margin-top: -2rem;
            
            // TESTING
            // display: none;
        }
    }
    
}