.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 1.5rem 7rem;
        border-radius: 1rem;
        font-size: 1.35rem;
        margin-bottom: 1.35rem;
    }
    
    &--gradient {
        @include button-press;
        
        background-image: $gradient-violet-blue;
        color: $color-white;
    }
    
    &--gradient-register {
        background-image: $gradient-violet;
        color: $color-white;
        transform: translateY(-.3rem);
        box-shadow: $violet-shadow-diffused;

        &:active {
            transform: translateY(-.1rem);
            box-shadow: $violet-shadow-darker; 
        } 
    }
    
    &--shadow {
        @include button-press;
        
        color: $color-gray-dark;
    }
    
    &--snooze {
        display: block;
        padding: 2rem 14rem;
        border-radius: 10rem;
        background-image: $gradient-violet;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.35rem;
        margin-top: 5rem;
        box-shadow: $violet-shadow-diffused;
        @include button-press;
    }
    
    &--signout {
        color: $color-gray-medium;
    }
    
}